@font-face {
  font-family: "iconfont"; /* Project id 3491657 */
  src: url('../fonts/iconfont.woff2?t=1656548332194') format('woff2'),
       url('../fonts/iconfont.woff?t=1656548332194') format('woff'),
       url('../fonts/iconfont.ttf?t=1656548332194') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-hezuo2:before {
  content: "\e61f";
}

.icon-a-bug2:before {
  content: "\e620";
}

.icon-a-renyuanlianjietianjia2:before {
  content: "\e621";
}

.icon-a-Group427319242:before {
  content: "\e622";
}

